<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <main>
      <%= form_tag("/search/search_area2") do %>
        <p class="line">
          <a href="/search/1"><input class="prefecture" type="button" value="北海道"></a>
          <a href="/search/2"><input class="prefecture" type="button" value="青森"></a>
          <a href="/search/3"><input class="prefecture" type="button" value="岩手"></a>
          <a href="/search/4"><input class="prefecture" type="button" value="宮城"></a>
        </p>
        <p class="line">
          <a href="/search/5"><input class="prefecture" type="button" value="秋田"></a>
          <a href="/search/6"><input class="prefecture" type="button" value="山形"></a>
          <a href="/search/7"><input class="prefecture" type="button" value="福島"></a>
          <a href="/search/8"><input class="prefecture" type="button" value="茨城"></a>
        </p>
        <p class="line">
          <a href="/search/9"><input class="prefecture" type="button" value="栃木"></a>
          <a href="/search/10"><input class="prefecture" type="button" value="群馬"></a>
          <a href="/search/11"><input class="prefecture" type="button" value="埼玉"></a>
          <a href="/search/12"><input class="prefecture" type="button" value="千葉"></a>
        </p>
        <p class="line">
          <a href="/search/13"><input class="prefecture" type="button" value="東京"></a>
          <a href="/search/14"><input class="prefecture" type="button" value="神奈川"></a>
          <a href="/search/15"><input class="prefecture" type="button" value="新潟"></a>
          <a href="/search/16"><input class="prefecture" type="button" value="富山"></a>
        </p>
        <p class="line">
          <a href="/search/17"><input class="prefecture" type="button" value="石川"></a>
          <a href="/search/18"><input class="prefecture" type="button" value="福井"></a>
          <a href="/search/19"><input class="prefecture" type="button" value="山梨"></a>
          <a href="/search/20"><input class="prefecture" type="button" value="長野"></a>
        </p>
        <p class="line">
          <a href="/search/21"><input class="prefecture" type="button" value="岐阜"></a>
          <a href="/search/22"><input class="prefecture" type="button" value="静岡"></a>
          <a href="/search/23"><input class="prefecture" type="button" value="愛知"></a>
          <a href="/search/24"><input class="prefecture" type="button" value="三重"></a>
        </p>
        <p class="line">
          <a href="/search/25"><input class="prefecture" type="button" value="滋賀"></a>
          <a href="/search/26"><input class="prefecture" type="button" value="京都"></a>
          <a href="/search/27"><input class="prefecture" type="button" value="大阪"></a>
          <a href="/search/28"><input class="prefecture" type="button" value="兵庫"></a>
        </p>
        <p class="line">
          <a href="/search/29"><input class="prefecture" type="button" value="奈良"></a>
          <a href="/search/30"><input class="prefecture" type="button" value="和歌山"></a>
          <a href="/search/31"><input class="prefecture" type="button" value="鳥取"></a>
          <a href="/search/32"><input class="prefecture" type="button" value="島根"></a>
        </p>
        <p class="line">
          <a href="/search/33"><input class="prefecture" type="button" value="岡山"></a>
          <a href="/search/34"><input class="prefecture" type="button" value="広島"></a>
          <a href="/search/35"><input class="prefecture" type="button" value="山口"></a>
          <a href="/search/36"><input class="prefecture" type="button" value="徳島"></a>
        </p>
        <p class="line">
          <a href="/search/37"><input class="prefecture" type="button" value="香川"></a>
          <a href="/search/38"><input class="prefecture" type="button" value="愛媛"></a>
          <a href="/search/39"><input class="prefecture" type="button" value="高知"></a>
          <a href="/search/40"><input class="prefecture" type="button" value="福岡"></a>
        </p>
        <p class="line">
          <a href="/search/41"><input class="prefecture" type="button" value="佐賀"></a>
          <a href="/search/42"><input class="prefecture" type="button" value="長崎"></a>
          <a href="/search/43"><input class="prefecture" type="button" value="熊本"></a>
          <a href="/search/44"><input class="prefecture" type="button" value="大分"></a>
        </p>
        <p class="line">
          <a href="/search/45"><input class="prefecture" type="button" value="宮崎"></a>
          <a href="/search/46"><input class="prefecture" type="button" value="鹿児島"></a>
          <a href="/search/47"><input class="prefecture" type="button" value="沖縄"></a>
          <input class="prefecture2" type="button" value="沖縄">
        </p>
      <% end %>
    </main>
  </body>
</html>
