<div class="searchByArea">
  <a href="/search/search_area1"><input type="button" value="エリアから探す" class="areabutton"></a>
</div>

<div class="searchByRanking">
  <a href="/search/search_ranking"><input type="button" value="ランキングから探す" class="rankingbutton"></a>
</div>
